Automated Holiday and Birthday WhatsApp Greeting Sender.json
{
  "name": "Automated Holiday and Birthday WhatsApp Greeting Sender",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "mode": "list",
          "value": "Personal Calendar"
        },
        "triggerOn": "eventCreated"
      },
      "id": "da7a1c14-0756-4d5f-aec0-c0db77f2924d",
      "name": "New Calendar Event",
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        256,
        400
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "3LWBdxwbDfusqQKi",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "keywords",
              "value": "birthday,new year,diwali,christmas,anniversary,wedding",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "eventName",
              "value": "={{ $json.summary }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "eventDescription",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "eventDate",
              "value": "={{ $json.start.dateTime || $json.start.date }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "attendees",
              "value": "={{ $json.attendees }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "06c33799-3699-46c7-9e1b-9f05426166d5",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.eventName.toLowerCase() }}",
              "rightValue": "birthday|new year|diwali|christmas|anniversary|wedding",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "7432e9b1-dd84-443d-8785-4c4752d73528",
      "name": "Check for Keywords",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        704,
        400
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "eventName",
              "value": "={{ $json.eventName }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "eventType",
              "value": "={{ $json.eventName.toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "eventDate",
              "value": "={{ $json.eventDate }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "eventDescription",
              "value": "={{ $json.eventDescription || 'No description provided' }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "attendees",
              "value": "={{ JSON.stringify($json.attendees || []) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "08ed7fea-3a0c-4f6a-85c2-cb21827ecc8c",
      "name": "Extract Event Details",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        400
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.eventType }}",
                    "rightValue": "birthday",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Birthday"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.eventType }}",
                    "rightValue": "new year",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "New Year"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.eventType }}",
                    "rightValue": "diwali",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Diwali"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.eventType }}",
                    "rightValue": "christmas,anniversary,wedding",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Other Occasions"
            }
          ]
        }
      },
      "id": "a47e2646-71f2-4f5a-b89c-655650c574b2",
      "name": "Route by Event Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1152,
        368
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "attendees"
      },
      "id": "e1c93659-84c5-4087-86f4-fa1f6771e8c4",
      "name": "Split Attendees",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1376,
        400
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.7
        }
      },
      "id": "5c7baf02-ac5e-458d-a0c0-b90da05a84af",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1672,
        624
      ],
      "credentials": {
        "openAiApi": {
          "id": "eYfhpeUPhHT7IQLy",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate a personalized WhatsApp message for:\n\nEvent Type: {{ $json.eventName }}\nRecipient Name: {{ $json.displayName || $json.email }}\nEvent Date: {{ $json.eventDate }}\nEvent Description: {{ $json.eventDescription }}\n\nReturn ONLY the message text, no additional formatting or quotes.",
        "options": {
          "systemMessage": "You are a friendly message generator for special occasions. Your role is to create warm, personalized WhatsApp messages that are culturally appropriate and heartfelt. Always address recipients by name when available, reference the specific occasion, and maintain a friendly, personal tone. Keep messages concise (2-3 sentences) and appropriate for the event type."
        }
      },
      "id": "66600eac-efde-44ae-b01b-4b72ed3aa4d3",
      "name": "Generate Personalized Message",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1600,
        400
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "recipientPhoneNumber": "={{ $json.email.replace('@', '_').replace('.', '_') + '@placeholder.whatsapp' }}",
        "textBody": "={{ $('Generate Personalized Message').item.json.output }}",
        "additionalFields": {}
      },
      "id": "44cc84bb-dd62-45a8-95e2-9de87510867a",
      "name": "Send WhatsApp Message",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1952,
        400
      ],
      "webhookId": "9e720e0f-d360-41f0-af66-66a15b47023e"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "recipient",
              "value": "={{ $json.displayName || $json.email }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "recipientPhone",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "messageContent",
              "value": "={{ $('Generate Personalized Message').item.json.output }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "eventName",
              "value": "={{ $('Extract Event Details').item.json.eventName }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "eventDate",
              "value": "={{ $('Extract Event Details').item.json.eventDate }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "status",
              "value": "sent",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a87936e5-2a72-4fbd-b3ca-33999ab8abaa",
      "name": "Prepare Log Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2176,
        304
      ]
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "<__PLACEHOLDER_VALUE__whatsapp_message_logs__>"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "0d08c31a-25f0-4164-a291-9973b4153d43",
      "name": "Log Sent Messages",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2400,
        304
      ]
    },
    {
      "parameters": {
        "errorMessage": "=Failed to send WhatsApp message: {{ $json.error || \"Unknown error occurred\" }}"
      },
      "id": "8b0ec9d4-78cf-4c70-aea1-9a99f9bcdebc",
      "name": "Handle Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2176,
        496
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1904,
        496
      ],
      "typeVersion": 1,
      "id": "7414bafe-8df6-4e01-bd5a-deeb1dd3e0b8",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "New Calendar Event": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Check for Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Keywords": {
      "main": [
        [
          {
            "node": "Extract Event Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Event Details": {
      "main": [
        [
          {
            "node": "Route by Event Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Event Type": {
      "main": [
        [
          {
            "node": "Split Attendees",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Attendees": {
      "main": [
        [
          {
            "node": "Generate Personalized Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Personalized Message",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Personalized Message": {
      "main": [
        [
          {
            "node": "Send WhatsApp Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Message": {
      "main": [
        [
          {
            "node": "Prepare Log Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Handle Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Log Data": {
      "main": [
        [
          {
            "node": "Log Sent Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6aaa8037-6a99-4c2e-84a0-fd2de5f9eb5d",
  "meta": {
    "instanceId": "45381ef235b59f50475bc00de2a286fe0e316a88bc2117e02d567bac4304a5b0"
  },
  "id": "M6SW6TQsI1E2QDQn0Dl1C",
  "tags": []
}